<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="logo">
                    <h1><a href="index.html">WE-<span>Digital wallet</span></a></h1>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> 
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/personalPage">Trang cá nhân</a></li>
                    <li><a href="/recharge">Nạp tiền</a></li>
                    <li><a href="/withdrawMoney">Rút tiền</a></li>
                    <li><a href="/transferMoney">Chuyển tiền</a></li>
                    <li><a href="/buyCardMobile">Mua card</a></li>
                    <li><a href="/transactionHistory">Lịch sử</a></li>
                    <li><a href="/resetPassword">Đổi mật khẩu</a></li>
                    <li><a href="/logout">Đăng xuất</a></li>
                </ul>
            </div>  
        </div>
    </div>
</div> <!-- End mainmenu area -